# Backups #
###########
Old/
*.*~
# Checkpoints #
###############
.ipynb_checkpoints/
# Image files #
###############
*.svg
*.sifz
# Cache files #
###############
__pycache__/
# Intermediate png files #
##########################
*/png/*.png
